footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gainsboro;
  width: 60px;
  height: 60px;
}

.keyboard-column-wide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gainsboro;
  width: 100px;
  height: 60px;
}

.keyboard-column-wide svg {
  width: 30px;
}
