main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gainsboro;
  width: 60px;
  height: 60px;
}

.correct-animation {
  animation: correct 0.5s infinite alternate;
}

.partial-animation {
  animation: partial 0.5s infinite alternate;
}

.wrong-animation {
  animation: wrong 0.5s infinite alternate;
}

@keyframes correct {
  from {
    background-color: #6aaa64;
  }
  to {
    background-color: inherit;
  }
}

@keyframes partial {
  from {
    background-color: #c9b458;
  }
  to {
    background-color: inherit;
  }
}

@keyframes wrong {
  from {
    background-color: #787c7e;
  }
  to {
    background-color: inherit;
  }
}
